In [2]:
import os
import pandas as pd

In [3]:
caminho = r'C:\Users\david\OneDrive\ESCOLA\ETE LAL\CONTROLE DE FREQUÊNCIAS E NOTAS\2021\ELETIVAS\ANUAL\TURMAS\geral-anual.xlsx'

In [4]:
df = pd.read_excel(caminho)

In [5]:
df.head()

,ESTUDANTE,TURMA,PROFESSOR RESPONSÁVEL SIEPE,I BIMESTRE,II BIMESTRE,III BIMESTRE,IV BIMESTRE,MÉDIA GERAL ANUAL
0,ACELIJA YONA SANTOS DA SILVA,2ºHOSP,REOBE SILVA,6,6,6,6,6.0000
1,ADRIEL DAVID DA SILVA,3ºHOSP,JAILSON,6,6,6,6,6.0000
2,ÁGATA PRISCILA DIAS DO ESPIRITO SANTO,3ºHOSP,JAILSON,9,9,7.25,8,8.3125
3,ALANA MAYCHA DA SILVA TRAORE,2ºTDSB,ÁDRIA BIANCA,9.5,8.5,10,10,9.5000
4,ALEXANDRE RODRIGUES DA SILVA JUNIOR,2ºTDSB,ÁDRIA BIANCA,7,6,6,10,7.2500

In [6]:
turmas = df['TURMA'].unique()

In [10]:
for turma in turmas:
    df[df['TURMA'] == turma].to_excel(r"C:\Users\david\OneDrive\ESCOLA\ETE LAL\CONTROLE DE FREQUÊNCIAS E NOTAS\2021\ELETIVAS\ANUAL\TURMAS" + '\\' + f'{turma}.xlsx', index=False)

In [11]:
df.to_excel(r'C:\Users\david\OneDrive\ESCOLA\ETE LAL\CONTROLE DE FREQUÊNCIAS E NOTAS\2021\ELETIVAS\ANUAL\TURMAS\geral-anual.xlsx', index=False)